<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.primftpd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.wifi" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="false">

        <receiver android:enabled="true" android:name=".BootUpReceiver"
                android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name="StartStopWidgetProvider">
            <intent-filter >
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <receiver
                android:name=".remotecontrol.PftpdPowerTogglesPlugin"
                android:enabled="true"
                android:permission="com.painless.pc.permission.CONTROL_PLUGIN"
                android:icon="@drawable/ic_notification">
            <intent-filter>
                <action android:name="com.painless.pc.ACTION_SET_STATE" />
            </intent-filter>
        </receiver>

        <receiver
                android:name=".remotecontrol.TaskerReceiver"
                android:exported="true"
                android:process=":background">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
                <action android:name="com.twofortyfouram.locale.intent.action.QUERY_CONDITION" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".PrimitiveFtpdActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.primftpd.prefs.FtpPrefsActivityThemeDark"
            android:label="@string/prefCategoryTitle"
            android:theme="@style/PrimFtpdDarkTheme">
        </activity>

        <activity
            android:name="org.primftpd.prefs.FtpPrefsActivityThemeLight"
            android:label="@string/prefCategoryTitle"
            android:theme="@style/PrimFtpdLightTheme">
        </activity>

        <activity
            android:name="org.primftpd.prefs.AboutActivity"
            android:label="About">
        </activity>

        <activity
            android:name="org.primftpd.remotecontrol.TaskerEditActionActivity"
            android:label="@string/selectServerAction">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.primftpd.remotecontrol.TaskerEditConditionActivity"
            android:label="@string/state">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_CONDITION" />
            </intent-filter>
        </activity>

        <service android:name="org.primftpd.services.FtpServerService" />
        <service android:name="org.primftpd.services.SshServerService" />
        <service android:name="org.primftpd.services.ServicesStartingService" />
        <service
            android:name=".services.QuickSettingsService"
            android:icon="@drawable/ic_notification"
            android:label="@string/serverStopped"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
	</application>

</manifest>
