<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.primftpd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.wifi" />
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />


    <!--
    to enable adaptive icon use:
    android:icon="@mipmap/ic_launcher"
    -->
    <application
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:banner="@drawable/ic_launcher"
        android:requestLegacyExternalStorage="true"
        android:name=".PftpdApp"
        android:supportsRtl="true">

        <receiver android:enabled="true" android:name=".BootUpReceiver"
                android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name="org.primftpd.StartStopWidgetProvider">
            <intent-filter >
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <receiver
                android:name=".remotecontrol.PftpdPowerTogglesPlugin"
                android:enabled="true"
                android:permission="com.painless.pc.permission.CONTROL_PLUGIN"
                android:icon="@drawable/ic_notification">
            <intent-filter>
                <action android:name="com.painless.pc.ACTION_SET_STATE" />
            </intent-filter>
        </receiver>

        <receiver
                android:name=".remotecontrol.TaskerReceiver"
                android:exported="true"
                android:process=":background">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
                <action android:name="com.twofortyfouram.locale.intent.action.QUERY_CONDITION" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepicker_provider_paths" />
        </provider>

        <activity
            android:name=".PrimitiveFtpdActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" /><!-- to avoid missing app link warning -->
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".ui.LeanbackActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.primftpd.prefs.FtpPrefsActivityThemeDark"
            android:label="@string/prefs"
            android:theme="@style/PrimFtpdDarkTheme">
        </activity>

        <activity
            android:name="org.primftpd.prefs.FtpPrefsActivityThemeLight"
            android:label="@string/prefs"
            android:theme="@style/PrimFtpdLightTheme">
        </activity>

        <activity
            android:name="org.primftpd.ui.ClientActionActivity"
            android:label="@string/clientActionsLabel">
        </activity>

        <activity
            android:name="org.primftpd.prefs.AboutActivity"
            android:label="About">
        </activity>

        <activity
            android:name="org.primftpd.remotecontrol.TaskerEditActionActivity"
            android:label="@string/selectServerAction">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.primftpd.remotecontrol.TaskerEditConditionActivity"
            android:label="@string/state">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_CONDITION" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.primftpd.share.ReceiveSaveAsActivity"
            android:label="@string/saveAs">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.primftpd.share.ReceiveQuickShareActivity"
            android:label="@string/quickShare">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/*" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.primftpd.filepicker.ResettingFilePickerActivity"
            android:label="@string/app_name"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.primftpd.ui.StartServerAndExitActivity"
            android:label="@string/startService"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <!-- be invokable by other apps (e.g. Automate) but not listed in main menu -->
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.primftpd.ui.StopServerAndExitActivity"
            android:label="@string/stopService"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <!-- be invokable by other apps (e.g. Automate) but not listed in main menu -->
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service android:name="org.primftpd.services.FtpServerService" />
        <service android:name="org.primftpd.services.SshServerService" />
        <service
            android:name=".services.QuickSettingsService"
            android:icon="@drawable/ic_notification"
            android:label="@string/quickSettingsServerStopped"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service android:name="org.primftpd.services.DownloadsService" />
	</application>

</manifest>
